CMakeFiles/
JUCE/
track_artefacts
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json
juce_vst3_helper
.cache
.vs/
Debug/
juce_vst_helper.dir/
out/
track.dir/
track_rc_lib.dir/
track_VST3.dir/
x64/
*.vcxproj
*.filters
*.user
*.sln
